

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: -webkit-pictograph;
}
html
{
	scroll-behavior: smooth;
}

:root
{
	--navy_clr:#1b1f3a;
	--green_clr: #2ad694;
	--grey_clr: #6c708b;

}
body
{

	
background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



/* ----Designer Scrollbar--------- */
body::-webkit-scrollbar
{
  width: 12px;
}
body::-webkit-scrollbar-track
{
  background-color: #1b1f3a ;
}
body::-webkit-scrollbar-thumb
{
  background-color: #2ad694;
  /* border-radius: 5px; */
  cursor: pointer;
 }

.credit_card_div
{
	/* background-color: white; */
	padding: 20px;
	border-radius: 10px;
	border: 2px double #1b6482;
	box-shadow: 0px 0px 18px -3px #1b6482;
}
.card_img
{
	height:38px;
	width: 80px;
}
.card_img img
{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
#credit_card_form label
{
	font-weight: bold;
	color: white;
}
#credit_card_form input
{
	background-color: transparent !important;
	color: white;
}
#credit_card_form input:focus
{
	box-shadow: none !important;
}
#credit_card_form input::placeholder
{
	color: grey !important;
}
.card_img
{
	background-color: transparent !important;
}
